.grid-container {
    height:100vh;
    display: grid;
    
    grid-template-areas: "header header header header header"
                         ". . . . ."
                         "navigation . content . advices"
                         ". . . . ."
                         "footer footer footer footer footer";
    grid-template-columns: 100px 10px 1fr 10px 160px;
    grid-template-rows: 60px 10px 1fr 10px 50px;
}

.header { 
    grid-area: header; 
    background-color: #bbb; 
}
            
.navigation { 
    grid-area: navigation; 
    background-color: #ccc; 
}
        
.advices { 
    grid-area: advices; 
    background-color: #ccc; 
}
        
.content { 
    grid-area: content; 
    background-color: #eee; 
}
        
.footer { 
    grid-area: footer; 
    background-color: #bbb; 
}